[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
[submodule "linux-rpi"]
	path = linux-rpi
	url = git@github.com:raspberrypi/linux.git
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = git@github.com:TrustedFirmwareWebsite/website.git
